@import 'tailwindcss';

/* Radial gradient texture */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(circle at 50% 100%, transparent 20%, #103242 21%, #103242 34%, transparent 35%, transparent),
    radial-gradient(circle at 50% 0%, transparent 20%, #103242 21%, #103242 34%, transparent 35%, transparent);
  background-position: 0 0, -20px 0;
  background-size: 40px 30px;
  opacity: 0.05;
  pointer-events: none;
  z-index: 0;
}

body {
  background-color: #e0f9ff;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: #103242;
}

* {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.text-primary {
  color: #103242;
}

.button-primary {
  display: inline-block;
  padding: 0.75rem 2rem;
  font-weight: 600;
  color: white;
  background: #103242;
  border-radius: 0.5rem;
  transition: background-color 200ms ease;
}

.button-primary:hover {
  background: #0a212d;
}



.animate-slide-up {
  animation: slide-up 0.6s ease-out forwards;
  opacity: 0;
}



@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  animation: animate-infinite-scroll 25s linear infinite;
}
